node_modules
build
dist
.git
.gitignore
.env
.env.*
.DS_Store
coverage
.vscode
.idea
*.log
backup.sql
.wwebjs_auth
.wwebjs_cache
.wwebjs_auth_dev
.wwebjs_cache_staging
.wwebjs_cache_prod
README.md
DOCKER-README.md
