NODE_ENV=development
PORT=4000

DB_HOST=nestjs-auth-starter-db-dev
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=auth_starter_dev
DB_SYNCHRONIZE=true

REDIS_HOST=nestjs-auth-starter-redis-dev
REDIS_PORT=6379
REDIS_PASSWORD=redis_dev_password

BCRYPT_SALT_ROUNDS=10

JWT_SECRET=change_this_for_a_long_random_secret
JWT_EXPIRES_IN=15m

THROTTLE_TTL=60000
THROTTLE_LIMIT=100

SESSION_TTL_WEB_MS=86400000
SESSION_TTL_MOBILE_MS=2592000000
